@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.inner {
  width: 300px;
  height: 100%;
  background-color: #ccc;
}

#title {
  font-family: 'Kdam Thmor Pro', sans-serif;
}